<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>みんちゅんの進捗管理</title>
        <link rel="stylesheet" href="/css/stylesheet.css">
    </head>

    <header>
        <div class="header-title">みんちゅんの進捗確認</div> 
            <form class="header-button"　action="/" method="post">
                <input type="text">
                <input type="text">
                <input type="submit" value="科目追加"></button>
            </form>
    </header>
    
    <body>
        <div class="item-name">
            <ul>
                <li class="subject">科目</li>
                <li>授業形態</li>
                <li>残り</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
            </ul>


        </div>

    </body>
</html>