.title {
    color: #02ccba;
  }

  header{
    height: 60px;
    width: 100%;
    background-color: rgba(36, 128, 146, 0.9);
  }

  .header-title{
    color:white;
    margin:5px;
    float:left;
    font-size: 20px;
  }

  .header-button{
    float:right;
    margin:10px;
  }

  .table-head{
    display: flex;
    background-color: #b7cadc;
    border-radius: 2px 2px 0 0;
    height: 44px;
    font-size: 16px;
    line-height: 46px;
    color: #ffffff;
  }


  .table-body {
    background-color: #ffffff;
    height: 50px;
    border: 1px solid #f0f4f9;
    display: flex;
    align-items: center;
  }

  .id-subject{
    width: 200px;
    text-align: center;
  }

  .id-classStyle{
    width: 100px;
    text-align: center;
  }

  .id-reaming{
    width: 80px;
    text-align: center;
  }

  .id-case{
    width: 80px;
    text-align: center;
  }
