.title {
    color: #02ccba;
  }

  header{
    height: 40px;
    width: 100%;
    background-color: rgba(36, 128, 146, 0.9);
  }

  .header-title{
    color:white;
    margin:5px;
    float:left;
  }

  .header-button{
    float:right;
    margin:5px;
  }

  .Subject{
    float:left;
    padding:15px;
  }

  .item-name li{
    list-style: none;
    float:left;
    padding:15px;
    
  }

